<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.ncinga.speedtest" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>SpeedTest</name>

    <description>A Cordova plugin to perform speed tests</description>
    <js-module name="SpeedTest" src="www/SpeedTest.js">
        <clobbers target="kotlin" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=9.0.0"/>
        <engine name="cordova-android" version=">=11.0.0"/>
        <engine name="cordova-ios" version=">=5.0.0"/>
    </engines>

    <platform name="android">

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="SpeedTest">
            <preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginGoogleServicesEnabled" value="true" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
            <preference name="GradlePluginKotlinVersion" value="1.9.24" />

                <param name="android-package" value="com.ncinga.speedtest.SpeedTest" />
            </feature>
        </config-file>

        <source-file src="src/android/SpeedTest.kt" target-dir="src/main/kotlin/com/ncinga/speedtest" />
        <source-file src="src/android/CustomTestHandler.kt" target-dir="src/main/kotlin/com/ncinga/speedtest" />
        <source-file src="src/android/FileHandler.kt" target-dir="src/main/kotlin/com/ncinga/speedtest" />
        <source-file src="src/android/FileHandlerService.kt" target-dir="src/main/kotlin/com/ncinga/speedtest" />
        <source-file src="src/build-extras.gradle" target-dir="app/"/>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.CAMERA"/>
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

        </config-file>
    </platform>
</plugin>